/* Navigation Bar */
*{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    margin-top: 30px;
}

#webLogo {
    display: inline;
    margin-left: 5vw;
    height: 30px;
    width: 50px;
}

#navBar {
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: inline;
    text-align: center;
    justify-content: center;
    margin-left: 25vw;
}

.navItems {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    letter-spacing: 1px;
    margin-left: 50px;
    width: auto; 
}

#loginBtn {
    display: inline;
    background-color: #D01C28;
    color: white;
    border: 0px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin-right: 50px;
}


/* Body Content */

#mainPage {
    display: flex;
    /* direction: row; */
    flex-direction: row;
}

#homeImage {
    float: right;
    margin-top: 9vh;
    margin-left: 10vw;
    height: 29rem;
}

#textContent h1{
    font-size: 90px;
    font-weight: 1000;
    line-height: 110%;
    margin-left: 10vw;
}

#textContent p{
    margin-left: 10vw;
    margin-top: -50px;
    line-height: 30px;
    font-weight: 600;
    /* margin-bottom: -100px; */

}

#buttons button{
    background-color: #D01C28;
    width: 100px;
    height: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    border: 0px;
    margin: 80px;
    margin-left: 0px;
    margin-top: -100px;
    margin-bottom: 0px;
}

#buttons{
    margin-left: 10vw;
}

.simple {
    background-color: white;
}

#extraContent {
    margin-left: 10vw;
}

#extraContent img{
    height: 40px;
    width: 40px;
}